@model LoginViewModel
@{
  ViewBag.Title = "Log in";
}
<h1>Login</h1>

<div>
  @Html.ValidationSummary(true)
</div>
@using (Html.BeginForm())
{
  <div>
    <p>@Html.LabelFor(m=>m.UserName)</p>
    <p>@Html.TextBoxFor(m=>m.UserName)</p>
    <p>@Html.ValidationMessageFor(m=>m.UserName)</p>
  </div>
  <div>
    <p>@Html.LabelFor(m => m.Password)</p>
    <p>@Html.PasswordFor(m => m.Password)</p>
    <p>@Html.ValidationMessageFor(m => m.Password)</p>
  </div>
  <div>
    <p>@Html.LabelFor(m => m.ConfirmPassword)</p>
    <p>@Html.PasswordFor(m => m.ConfirmPassword)</p>
    <p>@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
  </div>
  <div>
    <p>@Html.LabelFor(m => m.RememberMe)</p>
    <p>@Html.CheckBoxFor(m => m.RememberMe)</p>
    <p>@Html.ValidationMessageFor(m => m.RememberMe)</p>
  </div>
  
  @Html.HiddenFor(m=>m.ReturnUrl)
  <input type="submit" value="Login"/>
}