@model PostViewModel

@{
  ViewBag.Title = "Create";
}
@{
  var categories = ViewBag.Categories as List<SelectListItem>;
}
<h2>Create post</h2>

<div>@Html.ValidationSummary(false)</div>

@using (Html.BeginForm())
{
  <div>
  <p>@Html.LabelFor(m => m.Title)</p>
  <p>@Html.TextBoxFor(m => m.Title)</p>
  <p>@Html.ValidationMessageFor(m => m.Details)</p>
</div>
  <div>
    <p>@Html.LabelFor(m => m.Details)</p>
    <p>@Html.TextAreaFor(m => m.Details,new {rows="10"})</p>
    <p>@Html.ValidationMessageFor(m => m.Details)</p>
  </div>
  <div>
    <p>@Html.LabelFor(m=>m.Category)</p>
    <p>@Html.DropDownList("Category", categories)</p>
  </div>
  <input type="submit" value="Create"/>
}

